{% extends "index.html" %}
/gc
{% block title %}{{ config.title }} - 404{% endblock title %}
/gc
{% block navbar %}
{% for item in config.extra.zola386_menu %}
<li>
  <a href="{{ config.base_url }}/{{item.path}}"><span>{{ item.name }}</span></a>
</li>
{% endfor %}
{% endblock %}
{% block header %}
<div class="alert alert-error navmargin">
  <h1>404 - GAME OVER</h1>
</div>
{% endblock header %}

{% block main %}


<pre>

 ##  ##    ####    ##  ##             ####    ##  ##    ####    ##       ##      
 ##  ##   ##  ##   ##  ##            ##  ##   ##  ##   ##  ##   ##       ##      
 ##  ##   ##  ##   ##  ##            ##       ##  ##   ##  ##   ##       ##      
  ####    ##  ##   ##  ##             ####    ######   ######   ##       ##      
   ##     ##  ##   ##  ##                ##   ##  ##   ##  ##   ##       ##      
   ##     ##  ##   ##  ##            ##  ##   ##  ##   ##  ##   ##       ##      
   ##      ####     ####               ###    ##  ##   ##  ##   ######   ######  

  ░  ░   ░   ░  ░░  ░░  ░░  ░   ░   ░  ░░  ░░  ░░ ╓@╬▓▓▒▒▒▒▒▒▒▒▒╣╢╢╢▓▓▓@▄ ░░  ░
 ░░  ░   ░  :░  ░░  ░░  ░   ░   ░  :░   ░  ░░╓▓▒▒╣╣╣╣╣╣╣╣╣╣╣╣╣╢╢╢╫▓▀⌠     ░   ░
░  ░   ░   ░   ░  ░░  ░░  ░   ░   ░   ░  ░░ ,▓▒╣╣╣╣╣╣╣╣╣╣╣╣╣╢╢╢╢▓▀` ░░  ░   ░
   ,   ,   ,  ,,` ,,  ,   ,   ,   ,  ,,▄╦@▓▓╢╢╫▓▒╣╣╣╣╣╣╣▒╢╢╢╢╢▓╙ ,  ,,  ,   ,
 ,   ,   ,   ,  ,,  ,,  ,   ,   ,   ╓▓╢╢╢╣▒▒╢╢▓▓▓▒╢╣╣╣╢╢▓▓▓▓▓▓─,` ,,  ,   ,   ,
:  :   :   :  ;:  ─:  ─:  :   :    ╫╣╢╢╣▒╣╣╣╣╣╣╣╢▒▒▒╣╢╢╢╢╢╢▓▀   ::  ─:  :   :
 ░`  ░   ░  :░  ░░  ░░  ░   ░   ░ ▓╣╢╣╣╣╣╣╣╣╣╣╢▒▒▒▒╢╣╣╣╫╢╢╢▓  ;░  ░░  ░░  ░   ░
░  ░   ░   ░  ░░  ░░  ░░  ░   ░  ╓▓╢╢╫▓▓▓▒▒╣╣▒▒▒▒▒╢╣╢╢╢╢▓╣╢▓░░  ░░  ░░  ░░  ░
 ░░  ░   ░  :░  ░░  ░░  ░░  ░  ╓▓╢╢╢╢╢╢╢╢╣╣▒▒▒▒▒▒▒▒╢▓▓▓▓▓▓▓▓▌ ░░  ░░  ░░  ░   ░
░  ░   ░   ░   ░  ░░  ░░  ░   \▓╢╢╣╢▒▒╣╢╣▒▒▒▒▒▒▒▒▒▒▒╢╣╢▒▒╢╢▓▓─  ░░  ░░  ░   ░
   ,   ,   ,  ,,` ,,  ,   ,   ]▓▒╣╣╣╣╣╣▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢▓W,  ,,  ,,  ,   ,
 ─   ─   ─  ,─  ,─  ──  ─   ─ ▓▒╣╣╣╣╣╢╢╢╢╢╢▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒╢╫▓ ,─` ──  ─   ─   ─
:  :   :   :  ;:  ─:  ─:  :,╓▄▓╢╢╢╣▒▒▒╣╣╣╣╣╣╣╣▒▒▒▒▒▒▒▒▒▒▒▒▒╢▓▓▓@╖,  ─:  :   :
 ░   ░   ░  :░  ░░  ░░  ╓@▓╢╢╢╢╢╢╢▒▒▒▒╣╣╣╣╢╢▒▒▒▒▒▒▒▒▒▒▒▒▒▒╢╣╣╢╢╢╢▓▓▄, ░░  ░   ░
░  ░   ░   ░   ░  ░░ ╓▓▓╢╢╢╢╢╢╢╢▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢▓▓▄ ░   ░
 ░░  ░   ░  :░  ░░,▄▓╢╢╢╢╢╣╢╣╣╣▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▀▀▓▒░░░▒░▒▒▒▒▓▓▓▓▓▓▓╣▓▓, ░   ░
░, ─ , ─ , ─,, ─ ▄▓╢╢╢╢╣▒╣╣╣╣▒▒▒▒▒▒▒▒▓▓▓▓▀▀░░░░░░░░░╢▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢▓▓▓▄, ─ ,
   ,   ,   ,  ,,▓▓╢╢╣▒╣╣╣╣╣╣╣▒▒▒▓▓▀▀░░░░░░░░░░░░╢╢╢╢╝░╙╢╣▒▒░▒▒▒▒▒╢╢╢╢╢╢╢╢▓░ ,
`─ ` ─ ` ─ ` ─ ]▓╢╣▒╣╣╣▒▒▒▓▓▓▀▀╢╣▒░░░░░░░░░░░░░╙╜▄▄█▄▄░░║╣▒░▒▒▒▒╢╢╢╢╢╢╢▓▀ ─ ` ─
:  :   :   :    ╙▀▓▓▓▓▀▀"╣▒▒▒░██▄░░░░░░░░░░░░░░░██;███▌░░▒▒▒╢▒╢▒▀▀▀▀▀╙` :   :
 ░   ░   ░          ░░  ║▒▒▒▒░███H░░░░░░░╥▒╖░░░░▐█████░░░▒▒▒╢░▒╢  ░░  ░░  ░   ░
    ░       ▄ ]H╓,      └▒▒▒╢▒░▀█░▒╢╣▒▒▒╜╢▒▒▒▒╢╢░░▀▀▒▒▒▒▒▒▒▒╢░▒╢▒╢╖      ░
 ░   ░     j▓▄][╔]      ░╙▒▒▒▒▒╢╢╢░▒▒╣╣░░░╜╢▒▒▒▒╢▒╢▒░▒▒▒╢▒▒▒▒░▒▒▒▒▒▒╖ ░░  ░   ░
─, ─        ▓▓▓▄▓▌║ ▄╖    ║▒▒▒▒▒▒░░▒▒░░▒▒▒▒▒▒▒▒░░░░░░▒▒▒╢▒▒▒▒░░▒▒▒▒▒▒░, ─ , ─ ,
   ,      ╩▀▓▓▓▓▓▓▓▓▀╙`   ║▒▒╢▒▒▒▒░░░░░▒▒▒▒░░░░░░╢░░▒▒▒▒▒▒▒▒╫▓▓▓░▒▒▒▒   ,   ,
`─ ` ;      ▓▓▓▓▓▓▓▓▀   ╖╢▒▒▒▒▒▒╣▒▒░░░░░░▒░░▒░░╢░░▒░▒▒▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒H─:``─ ` ─
:  :   :       ▀▓▓▓▓  ]╝╝╜╢▒▒▒▒▒▒▒▒▒░░░▒╢▒▒▒▒░╢▒░░▒▒▒▒▒▒▒▓▒▒▓▓▓╢▓▓▓▒▒╢  :   :
 ░░  ░   ░   ░  ▀▓▓╫▌░  ░░╙╣▒▓▒▒▒▒▒▒╢░░▒░╢▒▒▒░╢░░░▒▒▒▒▒▓▓▓▓▒▓▓╢╢╢▓▓▓▒╢H░  ░   ░
   ░   ░   ░      ▓▓▓⌐░   ░░╢▒▓▒▒╣▒▒▒▒░▒░▒▒▒▒░╢░░░▒╣▒▓╢╣▓▓▓▓▀▒▒▒▒▒▓▓▓▒  ░   ░
 ░   ░   ░   ░  ░░▐▓▓▓  ░   ░╫▓▒▒╢▒▒▒▒░░▒▒▒▒▒░╢▒▒▒▒▒╢╢╢╢╢╢▓▓╣▒▒▒▒▒▒▓▓▓▄   ░   ░
 ,   ,   ,  ,,  ,,░░▒▒▒╓╓@@▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒╢▒╢╢╢╢╢╢╢▓▓▓▓▓▓▓▒▓▓▓▄  ,   ,
   ,   ,   ,  ,,` ▒▒░░▒░▒▓╢▒▓▓▒▒▒▓▓▒▒▒▒╣░▒▒▒▒╣▒▒▒▒▒╢▒╢╢╢╢╢▒░▒╨▓▓╣╢▒▒▒▓▓▓    ,
 :   :   :  ::  ;:║▒▒░▒░▒╫▓▒▒▓╢▓▒▓▓╣▒▒▒╢╢▒▒▒▒▒▒▒▒▒╣▒▓╢╢╢╢▒▒▒░░▒╫▓▓╢▒▒▒▓▓▌ :   :
░  ░   ░   ░  ;░  ▓▓▒▒▒▓▓▒▓╣▒▓╢╢╢╢▓▓▌▒▒╢╢╣▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▌▒▒░▒▒╫▓▒▓▒▒▓▓   ░
 ░░  ░   ░  :░  ░▐▓╢╢▓▓▓▓╣▓╣▓▓▓▓▓▓▓▓▌▒▒╢▓▓▒▒▒▒▒▓╢▓╢╢▒╢▓▓▓▓╫▓▒▓▒▒▓╢╫▓▒▓▓▓▓▌░   ░
░  ░   ░   ░  :░Æ▓╢╢╢╢▓▓▓▓▓╢▓▓▓▓▓▓▓▓╣▒▒▓▓▓▒▒▓▒▓▓▓▓▓▓▓▓╢╢╢╣╣▒▓▓▓╣▓╣╢╫▓▒▓▓▓▌  ░                                                                                                                                                                  

 ##  ##    ####    ######            #####     ####     ####     ####      ##    
 ##  ##   ##  ##     ##              ##  ##   ##  ##   ##  ##   ##  ##     ##    
 ### ##   ##  ##     ##              ##  ##   ##  ##   ##       ##         ##    
 ######   ##  ##     ##              #####    ######    ####     ####      ##    
 ## ###   ##  ##     ##              ##       ##  ##       ##       ##     ##    
 ##  ##   ##  ##     ##              ##       ##  ##   ##  ##   ##  ##           
 ##  ##    ####      ##              ##       ##  ##     ###      ###      ##    
                                                                                 
</pre>

<pre>

　　　　　　　　   .
　　　　　　　  . 
　　　　　　 .
　　　   .
　　　 .
　　　　 .
　　　　　。
　　　　　 o
　　　　　o
　　　　 。
　　　 o
　　　o
　　　O
　　　 O
　　　　N

██████████████████▓▓▓▓▓▓▓▓▓███████████████████████████████████████████
████████████▓▒▒░░░░░░░░░░░░░░░░░░▒▒▒▓▓▒▓▓▓████████████████████████████
████████▓▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▓████████████████████
████████░░░░░░▒██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░░░░░░░░░░▒▒▓██████████████
████████▓▓▒░░▒▓▓█▓▓█▓▓▓▓▓▓▓▓▓▓█▓▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░░▒██████████
██████████▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓█▓▓▒███▓▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░▒███████
████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓███▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▒░░░░▒█████
███████████▓▓▓▓▒▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓█████▒░░░░▓██
██████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▒██▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█████████▒░░░▓█
█████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████▒░░░█
███████████▓███▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█░▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████▒░░▓█
████████████▓▓█▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒░▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████████▓░░░███
███████████▓▓▓▒▓▓▓█▓▓▓▓▓▒▓▒▓▓▓▓▓▓▓▓▓░▒▒▒▒▓▓▒▓▓▓▓▓▓▓▓▓▓▒▓█████▓░░░░████
██████████▓▓▓▓▓▓▓██▓▓▓▓▒▓▓▒▓▓▓▓▓▒▓▓▒▒▓▒▒▒▒▓▓▓▒▓▓▓▓▓▓▓▓▓▓▒▓▒░░░░▒██████
██████████▓▓▓█▓▓▓█▓▓▓▓▒▒▓▒▒▒▓▓▓▓▓▓▓▓▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒░░░░░░▓████████
███████████▓▓█▓▓▓▓▒▒▒░▒▒▒▒▒▒▒▒▓▓▓▒▓▒▒▒▒▒▒▓▓▓▒▒▒▒▒░░░░░░░░░▒███████████
██████████████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░▒▒▒▓▓████████████
████████████▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒░░░░░░░░░░▒▒▒▒▓▓▓▓▓▓▓▓████████████
███████████▓█▓▒▒▒▒▒░▒▓▓▒▒▓▒▓▒▒▓▒▒▒▒▒░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓█████████████
████████████▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▓▓▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓█████████████
████████████▒▒▓▒▒░░▓█▓▒▒▒▒▒▓▓▒▒▒▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▓▓████████████
█████████▒░░░░▓▓▒▒▒▓██▒▒▒▓██▒▒▒▒▒▓▒▒▒▒░▒▒▒▓░▒▒▒▒▒▒▒▒▓▓▓▓▓▓████████████
█████▓▒░░░░░░▒██▓▒▒▓██▓▒▓███▓▒░▓█▓▒▒▓▒▒▒▒▓▒▒▒▓▒▒▒▒▒▒▓▓█▓▓▓▓███████████
███▓░░░░░▒▓▓▓▒▓███▒▓██▓▓████▓▒▒░▓▒▒▓░▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▓▓▓▓▓█████████████
██░░░░░▓██▓▓▓▒▒▒▓██▓██▓██▓▓▓▒░▒░▒▓▓▒▒▒▒▒▒▒▓▒▒▓░▒▓▒▒▒▒▒▓▓▓█████████████
█▒░░░▒█████▓▓▓▒▒▒▒▓▓▓▓▓███▓▓▓▒▒░▓▓▓▓░▒▒▒▒▓▓▒░▓▒▒▒▓▒▒▒▒▒▓▓█████████████
▓░░░░████▓▓▓▒█▓▒▒▒▒▓▒▓▓▒▓███▓▒░▒▒▒▓▓█▓▒█▓███▒▓▒▒▒▒▓▒▒▒▒▒▒▓████████████
▓░░░▒█████▓▓▓███▓▒▒▒▒▒▒▒▒▒▓▓▒▒▒▒█▓▓▓▓▒▓████▓▒▒▒▒▒░▓░▒▒▒▒▒▒████████████
█░░░▒███████████▓▓▒▒▒▒▒▒▒▒░▒░░░▒░▒▓▓▒▒██▓▓▒░▒▒▒▒░▓▓▒▒▒▓▒▒▒▒███████████
██░░░██████▓███▓▓▓▓▒▒▒▒▒▒▒▒░░░░▒▒▓█▓▓▓▓██▓▓▒▒▒░▓█▓▒▒▒▒▒▒▒▒▒▒██████████
███░░░▓████▓████▓▓▓▒▒▒▒▒▒░░▒░░░▒▒▒▓██▓▒▒▓██▓▓▓██▓▒▒▒▒▒▒▒▒▒▒▒▓█████████
████░░░▒████▓█▓▓▓▓▓▓▒▒▒░░░▓█░░░▒▒░░▒▓▒▒▒▒▒▓████▓▒▒▒▒░▓▒▒▒▒▒▒██████████
█████▒░░░▒█▓██▓▓▓▓█▓▓▒▒▒░░▓▓▒░▒░▒░▒▒▓█▓▒▓▒▓▒███▒▒▒▒▒▒▒▒▒▒▒▒▒██████████
██████▓▒░░░▒▓▓▓▓▓▓▓▓▓▒▒▒▒░░▒▒▓▒▓▒▒▒▓██▓█▓███▓▓░▒▒▒░▒▓▒▒░▒▒▒▓██████████
█████████▓░░░▒▒▒▒███▓▓▓▒▒▒▒░░▒▒▓▒▒▓▒▓█████▓▓▒▒▒█▒▒▒▓░░░░░▒▒███████████
██████████▒▓▒░░░░░▒▒▓▓▓▓▓▒▒▒▒▒░▒█▓█▓▒▒▓███▓▓▓▓▓█▓▒▒░░░░░▒▒▓███████████
█████████████▓▒▒░░░░░░░░░░░░░░░░▒▓██▓▓▓▓▓████▓█▓▒▒▒░▒▒▒▒▓▒████████████
█████████████▓████▒▒▒░░░░░░░░░░▓░░░▓▒▓▓██▓███▓▓▒▒▒▒▒▒▓▓▓▓▓████████████
███████████████████▓▓▓▓▓▓▓▓▒▒░░▒▓▓▓▓▓▓▓▓▓█████▓▓▓▓▓███▓▒█▓████████████
███████████████████▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▓████████████▓▓▓▓██████████████
███████████████████▓▓▓▓▓▓▓▓▓▓▓▓▒▓▓▓██████████████▓▓▒█▓█▓▓█████████████
███████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█████▓▓▒▓█████████████████████
████████████████████▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█████████████████████


▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▒▒▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓█▓▓▓▓▒▒▓▓▓▓▒▒▒▒▒▒▒▒▓▒▒▒▒▓▒▓▓█▓▓█████▓▒▒▒▒▒▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓█████▓▒▒▒▓▓▓▓▓▒▒▒▒▒▒▒▒▓▒▒▒▒▒▓▓▓█████▒▓██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▓▓▓███▓▒▒▒▓▒▒▒▓▒▒▒▒▒▓█▓▓▒▒▒▒▒▒▒▒▓█▓▓▒▒▒▓▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▓▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▓███▓▓▒▓▒▓▒▒▒▓▒▒▓▓▓▓█▒▓█▒▒▒▒▓▓█▓▓▓▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▒▒▒
▒▒▒▒▒▒▓▓▓▓▒▒▓▒▒▓▒▒▒▒▒▓▒▒▒▒▓▒▒█▒▒▒▒███▓▓▓▓██▓▒▒▓▓██▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▓▓▓▓▓▒▒▒▒▒
▒▒▒▓▒▒▒▒▒▒▓▓▒▓▒▓▓█████▓▓████▒█▓▓▓▓▓█▓████▓█▓▓▓███▓▓██▓▒▒▒████▓▒▒▒▒▒▒█████▓▓▓▓▒▓
▒▒▒▓▓▓▒▒▓▒▓▒▓▓█▓▓▓███▓▓▓▓████▓█▓▓█▓▒▓▒▒▒▒▓▒▓█▓▓█▓▒██▒▒▒▒▒▓▒▒▓▒▒█▓▒▒▒▒▒██████▓▓▓
▒▒▓▓██▓▒▒▓▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒▓▓▒▒▒▒▓▓▒▓▓▒▒▒▓▒▒▓▓▒▓▓▒▒▒▓███▓▓▒▒▒▒▒▒▒▒▒▒▓▓▓▒▒▓██▓▓▓▓▒
▓▓▓██▓▒▒▒▒▓▓▓▓█▓▒▒▓▓▓███████▓▓▓▓▒▒▓█▓▒▒▒▒▒▒▒▓▒▒▓▓▓█████████▓▓▓▒▒▒▒▒▒▓▒▒▒▒▓█▓▓▓▒
▓████▒▒▒▒▒▓▓▓▓▓▓████████████████▓▓▓▓▓▒▒▒▒▒▓▓▒▓▓███████████████████▒▒▒▒▒▓▒▒▓██▓▓
████▓▒▒▓▒▒▒██████████████████▓▓▓▓▓▓▓▓▓▒▓▓▒▒▓▒▓▓▓▒▓███████████████████▓▒▓█▓▒▓███
███▓▒▓▒▒▒▓██████████████▓▓▓█▒▒▓▓▓█▓▓▓▓▒▓▓▓▓▒▓▓▒▓▓▓▓▓▓▓▓████████████████▒▒█▓▒███
███▓▓▓▒▒▓███████████████▒▒▒▒▓▓▓▒▒▒▒▓███████▓▓▒▒▒█▓▒▒▓▒▒█████████████████▒▓█▒▓██
██▓██▒▒▒█████████████████▒█▓▒█▓▒▒▒▓█████████▓▒▒▒█▓▒▒▓▓███████████████████▒█▒▒██
▓▓▒█▓▒▒▒████▓▓▓██▓████████▓▒▒██▓▒▒███████████▒▒██▓▒▒█████████████████████▒▓▒▒██
▒▓▒██▒▓▒▓████▓█▓▓▓▓▓█████████████▒▓██████████▒██▓████████████▓▓███▓████▓▒▒▓▒▓█▓
▒▒▓▓██▒▒▒█▓▓███▒▒▒█▓▓████▓██████████████████████▓▓▓█▓██████▓▓▒▒█▓▒▒██▓▒▒▓▓▒▒▓▓▓
▒▒▒▓███▓▒▒▓▓▓▓▓█▓▒▒██▓█████████████████████████████▓█████▓██▓▒▓██▓▓▓▒▒▓▒▒▒▒▒▒▒▒
▒▒▒▒▒████▓▒▒▒▓▓██▓▒▓████▓███▓▓██▓▓███████████▓██▓████████████▒▓▓▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒
▒▒▒▒▓█▓▓▓▓▓█▓▓▒▒▒▓█▓▒████▓███▓▓██▓█▓▓████▓██▓▓█▓▒██████████▓▓▓▒▒▒▒▒▒▒▓██▓▒▒▒▒▒▒
▓▓███████▓▓▓▓▓▓▓▒▓▒▒▒▒▒▓█████████▓▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒█████▓███▓▒▒▒▒▒▓▓████████▓▓▓▒▒
█████████████▓▓▓▒▒▒▓▓▒▒▒▓████████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓███████▓▓▒▒▒▒▒▒▒▒▓▓▓█████████▓
█▓▓▓▒▒▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▓▓███████▓▓▓▒▒▓▒▒▒▓▓▒▒▒▓▓███████▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓▓
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████▓▓▒▒▒▓▒█▓█▒▓▒▒▒▒▒▓▓████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
▒▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓█▓▓▓▓▓▓▒▓██▒▓█▓▒▓▓▒▒▓▓▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓███████▓
███▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▒▒████▓▒▒▒▒▒▒▓███▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓███████████
████████████▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓███▓▓▒▒▒▒▒███▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓██████████████
██████████████████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▓█▓▓▓██▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓██████████████████


</pre>


             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣯⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⢺⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡏⣧⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢶⣿⣋⣟⠭⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣭⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡏⢮⣳⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡿⣦⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠢⣽⣅⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡆⢤⣿⡇⠀⠀⠀⠀⣸⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠸⣞⡇⠀⠀⠀⠀⡏⢧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡄⣿⣷⠀⠀⠀⠀⢻⡈⢣⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⢸⣿⡆⠀⠀⠀⠀⢳⣬⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡈⣿⣧⠀⠀⢠⡄⣸⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⢹⣿⡀⠀⢸⢧⠟⢹⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠸⣿⡇⣠⠋⢾⣾⢸⢀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡖⠀⠸⣿⣶⣿⣷⡏⢰⡿⢿⠏⣸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⣴⢋⣿⣿⣿⠇⡟⠁⣏⠀⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡞⣏⢦⠇⢸⡿⢿⠋⢀⣤⣀⡘⢦⡟⢸⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⠃⢀⣴⡆⠀⠀⠈⣹⣿⡷⠆⠀⣧⠈⢿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠜⢁⡴⠋⡀⠙⢄⠀⣰⣿⣟⠓⠀⠀⢉⣴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⢰⡏⡠⠊⢀⡴⣇⠀⢀⡞⠉⠛⠀⡀⢀⣄⣩⠌⠙⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⢣⠶⠖⠊⢀⣈⠉⣹⡷⢀⣴⡯⠔⣛⡵⠁⣠⡏⠸⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⠀⠀⠀⢹⡿⢿⠟⠀⣰⡞⠉⣿⡷⠇⠃⣠⢴⣶⣾⡋⢀⡴⣽⠁⠀⠘⣏⣀⢰⣆⠀⠀⠀⠀⠀
             ⠀⠀⠀⠀⠀⣠⣶⣶⣅⣠⣶⠀⠒⠟⢁⡴⠋⠀⠀⠀⢹⣿⣿⡋⣧⢸⡇⡏⣀⣀⠀⠙⣿⣉⠙⢤⡄⠀⠀⠀
             ⠀⠀⣠⣴⣺⢿⣿⣿⡛⠛⠿⠿⣯⣷⡲⣶⣟⣻⡀⠀⣠⣿⣿⣖⣸⣨⣿⠿⠛⣻⣿⣶⣾⣾⠇⠀⠻⣄⠀⠀
             ⠀⣾⢟⠿⠿⢶⣮⡙⢏⢢⡀⢠⡌⣿⣿⡿⠟⡿⢳⣼⣿⣿⣿⣾⣿⣧⣤⣤⣤⣿⣿⣭⣿⠁⠀⠀⣀⣈⣧⠀
             ⢺⣥⢿⠾⠿⠿⠿⡿⠚⢋⣠⠯⣿⢉⢉⠻⠾⠛⢿⣿⠻⠿⢛⢋⣤⣯⣭⠽⠶⣾⣻⢿⣻⢿⠶⢛⣻⡿⢽⠄

<pre>

###  ##   #####   ###  ##           #######    ###    #######  ##       #####    
###  ##  ###  ##  ###  ##           ####      #####     ###    ##       ### ##   
#######  ###  ##  ###  ##           ######    ## ##     ###    ##       ###  ##  
 #####   ###  ##  ###  ##           ####     ##   ##    ###    ##       ###  ##  
  ###    ###  ##  ###  ##           ####     ##   ##    ###    ##       ### ###  
  ###    #######  #######           ####     ## ####  #######  #######  #######  
  ###    #######  #######           ####     ## ####  #######  #######  #######  
  ###     #####   #######           ####     ## ####  #######  #######  ######   

                 ⬜⬜⬜⬜⬛⬛⬛⬛⬛⬛⬛⬛⬜⬜⬜⬜
                 ⬜⬜⬛⬛🟥🟥🟥🟥🟥🟧🟧🟨⬛⬛⬜⬜
                 ⬜⬜⬛🟥🟥🟥🟥🟥🟧🟧🟨🟨🟩⬛⬜⬜
                 ⬜⬛🟥🟥🟥🟥🟥🟧🟧🟨🟨🟨🟩🟩⬛⬜
                 ⬜⬛🟥⬛⬛⬛🟥🟧🟨🟨⬛⬛⬛🟩⬛⬜
                 ⬛🟥⬛⬛⬛⬛⬛🟨🟨⬛⬛⬛⬛⬛🟦⬛
                 ⬛🟧⬛⬛⬛⬛⬛🟨🟩⬛⬛⬛⬛⬛🟦⬛
                 ⬛🟧⬛⬛⬛⬛⬛🟩🟩⬛⬛⬛⬛⬛🟦⬛
                 ⬛🟨🟨⬛⬛⬛🟩🟩🟦🟦⬛⬛⬛🟪🟪⬛
                 ⬜⬛🟨🟩🟩🟩🟩⬛⬛🟦🟦🟦🟪🟪⬛⬜
                 ⬜⬜⬛🟦🟦🟦🟦⬛⬛🟦🟪🟪🟪⬛⬜⬜
                 ⬜⬜⬜⬛🟦🟦🟦🟦🟦🟪🟪🟪⬛⬜⬜⬜
                 ⬜⬜⬜⬛🟦🟦⬛🟪🟪⬛🟪🟪⬛⬜⬜⬜
                 ⬜⬜⬜⬛🟪🟪⬛🟪🟪⬛🟪🟪⬛⬜⬜⬜
                 ⬜⬜⬜⬜⬛⬛⬛⬛⬛⬛⬛⬛⬜⬜⬜⬜



</pre>

<p>
  <a href="{{ config.base_url }}/respawn" class="btn btn-info" role="button">Start over?</a>
</p>
{% endblock main %}